@charset "utf-8";
/*Haveto see
a {
	outline:none;
}
*/

.founder_member{
    margin-left: 20px;
}
.upoma{
    font-size: 25px;
    color: #ff6633;
}
.page_heading{
    font-size: 50px;
    background-color: #ffff33;
}

.input_box{
    margin-bottom: 12px;
}

.submit_button{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40px;    
}

.button{
border: none;
color:white;
border-radius:5px;
background-color:red;
font-size: 20px;
}

.button:hover{
border: none;
color:red;
border-radius:5px;
background-color:white;
font-size: 20px;
}

.each_member{
    border-bottom: solid 5px #669900;
    margin-bottom: 30px;
}

.members_image{
    float: left;
    width: 120px;
    height: 140px;
    margin-right: 20px;
}

.members_details{
  width: auto;
  height: 140px;  
}

.text_color_underline{
    color: #666666;
    text-decoration: underline;
}

.name{
    float: left;
    border-bottom: solid thin #669900;
    width: 250px;
}

.designation{
    float: left;
    border-bottom: solid thin #669900;
    width: 200px;
}

.mobile_number{
    float: left;
    border-bottom: solid thin #669900;
    width: 150px;
}



.banner {
	padding:0;
	float:left;
	width:960;//auto;
	height:200px;
        margin-bottom: 6px;
}

.menu_nav {
	height:48px;
	float:left;
        width:960px;
        background-color: #00cc00;
        margin-bottom: 6px;
        border-bottom: 6px solid #ffff00;
}

hr{
    color:#cccccc;;
    background-color: #cccccc;
    border-color: #cccccc;;
}

a {
	text-decoration:none;
}

body {
	margin:0;
	padding:0;
	width:100%;
}

html, .main {
	padding:0;
	margin:0;
}

.main {
}

//MENU BAR_______________________________________________________

.menu_nav ul {
	list-style:none;
	padding:0;
	height:48px;
	float:left;
        width: 960px;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
        list-style: none;        
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:15px 24px;
	font-size:22px;
	line-height:18px;
	font-weight:normal;
        color: #ffff00;	
	text-decoration:none;
	text-transform:none;
	text-align:center;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
        color:#fff;
        font-weight: bold;
}

.marquee_title{
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    height: 30px;
    width: 120px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.marquee_item{
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    height: 30px;
    width: 820px;
    background-color:#00cccc; 
    color: #ffffff;
    font-size: 18px;
}

.marquee_item h3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.headings {
	margin:8px 0;
	padding:8px 0;
	font-size:24px;
	font-weight:normal;
        text-decoration: underline;
        color: #ffff00;
}

.sidebar_headings {
	padding:12px;
	font-size:24px;
	font-weight:bold;
        color: black;
        background-color: #ffff00;
        border-radius: 10px 10px 0px 0px;
}

.article_headings{
   	margin:8px 0;
	padding:8px 0;
	font-size:24px;
	font-weight:normal;
        border-bottom: dotted #999999 medium;
}

p {
	margin:8px 0;
	padding:0 0 8px 0;
}



.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}






h1 {
	margin:0;
	padding:32px 0 0;
}

h1 a, h1 a:hover {
	color:#e2e7ed;
	text-decoration:none;
}

.slider {

margin:0;
	//padding:14px 12px 14px 13px;
	padding:0px 0px 0px 0px;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}




.content {
	padding:0;
}
.content_resize {
	margin:0 auto;
	padding:24px 0 40px;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:684px;
}

.content .gallery_mainbar {
	margin:0;
	padding:0;
	float:right;
	width:960px;
}

.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
	width:179px;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:1px solid #ccd0d5;
}

.article_img{
    
}

.content .mainbar .article {
	margin:0 0 16px;
	padding:6px 20px;
        box-shadow: 0px 0px 5px 4px #cccccc;
}
.content .mainbar .post_content {
	float:right;
	width:640px;
}
.content .mainbar .post_content strong {
	color:#c4c3c3;
}
.content .sidebar {
	padding:0;
	float:left;
	width:260px;
        
}
.content .sidebar .gadget {
	margin:0 0 16px;
	padding:12px 20px 24px;
        background-color: #cccccc;
}
.content .sidebar h2 {
	//color:#c4c3c3;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	//color:#c4c3c3;
}

ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li, ul.ex_menu li {
	width:220px;
}
ul.sb_menu li a {
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
    	color:#6494c0;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0 0 8px;
	padding:6px 12px;
	color:#c4c3c3;
	border-top:1px solid #10151b;
	border-bottom:1px solid #10151b;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:bold;
	color:#6494c0;
}
p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
	color:#949494;
}
.article a.com {
	display:block;
	float:right;
	margin:0;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#c4c3c3;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
	font-weight:normal;
	color:#6494c0;
	font-weight:bold;
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:10px 16px;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	text-transform:none;
	color:#6494c0;
	text-decoration:none;
	text-align:center;
	background:#172029;
}
.post_content a.rm:hover {
	text-decoration:underline;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	height:20px;
	font-size:11px;
	color:#6e6e6e;
	text-align:left;
	background:url(../images/white_bg.jpg) repeat left top;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 4px 0 0;
	padding:4px 0;
	width:26px;
	text-decoration:none;
	text-align:center;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#405b74;
}
.content p.pages a {
	color:#6d6d6d;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:0;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	background-color: #00cc00;
}


.fbg .col {
	margin:0;
	float:left;
}

/*DISABLED COLUMN 1
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
*/
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:500px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:square;
        padding:2px 0 2px 12px;

}

.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#6494c0;
	text-decoration:underline;
	font-weight:normal;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}


.footer {
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	border-top:5px solid #ffff00;
	border-bottom:10px solid #ffff00;
	line-height:1.5em;
	background-color: #00cc00;
}
.footer_resize p {
	margin:0;
	padding:25px 0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	background-color:transparent;
}
.footer_resize a:hover {
    color: #ffffff;// #6494c0;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}

.color{
    color: #ffff33;
}
